.heigted{
    height: 420px;
}

.entet{
		 position: static;
       position: absolute;
      position: fixed;

}
	
.affix {
    position: fixed;
   	width: 50%;
   	margin-left: 50%;
	background-color:white;
	z-index:777;
}